@theme-color: #a0b4cc;
@text-color: #b9b2a6;
@indent-guide-color: #2d3239;
@invisibles-color: #2d3239;
@gutter-text-color: #716858;
@gutter-text-cursor-color: #897e6c;
@tree-view-font-size: 12px;
@tree-view-line-height: 16px;
@nohover-ratio: 0.3;
@hover-ratio: 0.6;
@tab-height: 28px;
